<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-buttons>
      <ion-button fill="clear" (click)="close()">
        <ion-icon slot="icon-only" color="dark" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid *ngFor="let p of products">
  <ion-row>
    <ion-col offset="2" size="8">
      <img class="product-image"  alt="Silhouette of mountains" [src]="p.image" />
          </ion-col>
  </ion-row>
  <ion-list>
    <ion-item>
      <ion-label>{{p.name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-card-content>
        <p><b>Stock:</b> {{p.stock}}</p>
        <p><b>Precio:</b> {{p.price | currency}}</p>
      </ion-card-content>
    </ion-item>
  </ion-list>
</ion-grid>
</ion-content>
