<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-buttons>
      <ion-button fill="clear" (click)="close()">
        <ion-icon slot="icon-only" color="dark" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar mode="ios" (ionChange)="onSearchChange($event)" placeholder="Buscar producto" inputmode="decimal" type="decimal"
    [debounce]="250"></ion-searchbar>
    <ion-chip *ngFor="let item of chip">
      {{item}}
    </ion-chip>
    <ion-row>
      <ion-item class="input-item">
        <ion-label position="stacked" id="cantidadLabel">Cantidad</ion-label>
        <ion-input type="number" placeholder="Cantidad de productos" required aria-labelledby="cantidadLabel"></ion-input>
      </ion-item>
    </ion-row>

    <ion-item>
      <ion-button class="button-container" type="submit" class="rounded-button">
        Guardar
      </ion-button>
    </ion-item>
</ion-content>
