<app-header titulo="Mis Productos"></app-header>

<ion-content>

  <ion-searchbar #searchbar (ionChange)="onSearchChange($event)" mode="ios" placeholder="Buscar producto"
    [debounce]="250"></ion-searchbar>

  <ion-grid>
    <ion-row class="input-row">
      <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6">
        <ion-text>
          <h1 class="ion-padding-start">Categorias</h1>
        </ion-text>
      </ion-col>
      <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6" class="ion-margin-top">
        <ion-button expand="block" (click)="openNewCategory()" fill="clear">
          <ion-icon slot="end" name="add"></ion-icon>
          Nueva categoria
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header class="ion-no-padding">
      <ion-item lines="none">
        <ion-button *ngIf="vermas" (click)="verMas()" slot="end" fill="clear" class="ion-no-padding">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="!vermas" (click)="verMenos()" slot="end" fill="clear" class="ion-no-padding">
          <ion-icon name="chevron-up-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-header>
    <ion-row>
      <ion-col class="cards" size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="3"
        *ngFor="let cat of categories">
        <ion-button (click)="filtrarporcat(cat)" [color]="cat.color" class="ion-text-uppercase" expand="block" shape="round">
          <p>
            {{cat.name.length > 12 ? cat.name.substr(0,10) + '...' : cat.name}}
          </p>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center ion-padding" *ngIf="!categories.length" size="12">
        <ion-text color="danger">
          <h3>Aun no hay ninguna categoria</h3>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6">
        <ion-button (click)="openNewProduct()" expand="block" fill="clear">
          <ion-icon slot="start" name="add"></ion-icon>
          Nuevo producto
        </ion-button>
      </ion-col>
      <ion-col size-xl="6" size-lg="6" size-md="6" size-sm="6">
        <ion-button (click)="openNewSale()" expand="block" fill="clear">
          <ion-icon slot="start" name="add"></ion-icon>
          Nueva venta
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-justify-content-start">
      <ng-container *ngFor="let p of products">
          <ng-container *ngIf="isLargeScreen; else smallScreen">
            <ion-col size-lg="4" size-md="6" size-sm="6" size-xs="12">
              <ion-card>
                <img class="product-image" (click)="openViewProduct()" alt="Silhouette of mountains" [src]="p.image" />
                <ion-card-header>
                  <ion-card-title>
                    {{p.name}}
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p><b>Stock:</b> {{p.stock}}</p>
                  <p><b>Precio:</b> {{p.price | currency}}</p>
                </ion-card-content>
                <ion-footer lines="full">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-button (click)="openEditProduct(p)" fill="clear">
                          <ion-icon slot="icon-only" name="create" color="success"></ion-icon>
                        </ion-button>
                      </ion-col>
                      <ion-col>
                        <ion-button (click)="deleteProduct(p.id)" fill="clear">
                          <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-footer>
              </ion-card>
            </ion-col>
          </ng-container>
          <ng-template #smallScreen>
            <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="3">
              <ion-item>
                <ion-thumbnail (click)="openViewProduct()" slot="start">
                  <img alt="Silhouette of mountains" [src]="p.image" />
                </ion-thumbnail>
                <ion-label>
                  {{p.name}}
                  <p><b>Stock:</b> {{p.stock}}</p>
                  <p><b>Precio:</b> {{p.price | currency}}</p>
                </ion-label>
                <ion-button fill="clear">
                  <ion-icon slot="icon-only" name="create" color="success"></ion-icon>
                </ion-button>
                <ion-button (click)="deleteProduct(p.id)" fill="clear">
                  <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-col>
          </ng-template>
      </ng-container>
    </ion-row>
  </ion-grid>



</ion-content>
