<app-header titulo="Mis Productos"></app-header>
<ion-content>
  <ion-searchbar mode="ios" placeholder="Buscar producto" inputmode="decimal" type="decimal"
    (ionChange)="onSearchChange()" [debounce]="250"></ion-searchbar>

  <ion-text color="dark">
    <h1 class="ion-padding-start">Categorias</h1>
  </ion-text>

  <ion-card>
    <ion-row>
      <ion-col size="4" *ngFor="let cat of categorias">
        <ion-button class="ion-text-lowercase" expand="block" shape="round">
          <p>
            {{cat.length > 12 ? cat.substring(0, 10) + '...' : cat}}
          </p>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="openNewProduct()" expand="block" fill="clear">
          <ion-icon slot="icon-only" name="add"></ion-icon>
          Nuevo producto
         </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="openNewSale()" expand="block" fill="clear">
          <ion-icon slot="icon-only" name="add"></ion-icon>
          Nueva venta
         </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>




  <ion-card>
    <ion-list>
      <ion-item lines="full" *ngFor="let x of [1,1,1,1,1,1,1,1]">
        <ion-thumbnail (click)="openViewProduct()" slot="start">
          <img alt="Silhouette of mountains" src="https://m.media-amazon.com/images/I/71bUdzvnWHL.jpg" />
        </ion-thumbnail>
        <ion-label>
          Chetos
          <p><b>Stock:</b> 120 </p>
          <p><b>Precio:</b>{{15 | currency}}</p>
        </ion-label>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="create" color="success"></ion-icon>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card>

</ion-content>
