<app-header titulo="Home"></app-header>

<!-- Scroll de imágenes -->
<ion-content class="ion-padding">
  <swiper-container [autoplay]="{delay:3000}" #swiper [slidesPerView]="1">
    <swiper-slide class="ion-padding" *ngFor="let prod of products">
      <ion-col size-lg="4" size-md="6" size-sm="6" size-xs="12">
        <ion-card>
          <ion-img class="imagen2" [src]="prod.image"></ion-img>
        </ion-card>
      </ion-col>
    </swiper-slide>
    <ion-row>
      <ion-col class="ion-text-center ion-padding" *ngIf="!products.length" size="12">
        <ion-text color="danger">
          <h3>Aun no hay ningun producto</h3>
        </ion-text>
      </ion-col>
    </ion-row>
  </swiper-container>


  <!-- Lo más vendido -->
  <ion-text color="dark">
    <h1 class="ion-padding">Lo más vendido</h1>
  </ion-text>
  <swiper-container [autoplay]="{delay:3000}" #swiper [slidesPerView]="1">
    <swiper-slide *ngFor="let prod of filtrosventas">
      <ion-col size-lg="4" size-md="6" size-sm="6" size-xs="12">
      <ion-card>
        <ion-card-header class="ion-no-padding">
          <ion-item lines="none">
            <p>{{prod.name.length > 5 ? prod.name.substring(0, 5) + '...' : prod.name}}</p>
            <ion-icon *ngIf="prod.stock > 0" slot="end" name="checkmark-circle" color="success"></ion-icon>
            <ion-icon *ngIf="prod.stock === 0" slot="end" name="close-circle" color="danger"></ion-icon>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          <ion-img class="imagen" [src]="prod.image"></ion-img>
          <ion-item lines="none">
            <ion-label>
              <p>{{prod.price | currency}}</p>
            </ion-label>
            <ion-button slot="end" fill="outline" color="success">
              <ion-icon slot="icon-only" name="cart"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>
      </ion-col>
    </swiper-slide>
    <ion-row>
      <ion-col class="ion-text-center ion-padding" *ngIf="!products.length" size="12">
        <ion-text color="danger">
          <h3>Aun no hay ningun producto</h3>
        </ion-text>
      </ion-col>
    </ion-row>
  </swiper-container>

  <!-- Estadísticas -->
  <ion-text color="dark">
    <h1 class="ion-padding">Estadísticas</h1>
  </ion-text>
  <div class="ion-padding" style="text-align:center" *ngIf="chartOptions">
    <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!"
      [title]="chartOptions.title!"></apx-chart>
  </div>


</ion-content>
