swiper-container {
  --swiper-pagination-bullet-inactive-color: var(--ion-color-step-200, #cccccc);
  --swiper-pagination-color: var(--ion-color-primary, #3880ff);
  --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
  --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
}

swiper-slide {
  display: flex;
  position: relative;

  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 5%;
  height: 5%;

  font-size: 18px;

  text-align: center;
  box-sizing: border-box;
}



swiper-slide img {
  width: 5%;
  max-width: 100%;
  height: 5%;
  max-height: 100%;
}


ion-card {
  ion-card-header {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .card-img {
    max-width: 50%;
    max-height: 50%;
    object-fit: cover;
    margin: 0 auto;
    margin-left: 25%;
  }

  ion-footer {
    ion-col {
      display: flex;
      justify-content: center;

      ion-chip {
        --background: white;
        color: dimgrey;
        padding: 0 0 0 5px;
        font-size: 12px;
        height: 12px;

        ion-icon {
          height: 14px;
          width: 14px;
        }
      }
    }
  }
}

.bold {
  font-weight: 600;
}

.guy-longname {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-image {
  max-width: 50%;
  max-height: 50%;
  object-fit: cover;
  margin: 0 auto;
  margin-left: 25%;
}

