<app-header titulo="Mis Ventas"></app-header>
<ion-content>
  <ion-searchbar mode="ios" placeholder="Buscar producto" (ionChange)="onSearchChange()" [debounce]="250">
  </ion-searchbar>

  <ion-row class="input-row">
    <ion-item class="input-item">
      <ion-label position="stacked">Fecha de inicio</ion-label><br>
      <input type="date" required>
    </ion-item>
    <ion-item class="input-item">
      <ion-label position="stacked">Fecha de termino</ion-label><br>
      <input type="date" required>
    </ion-item>
  </ion-row>

  <ion-list>
    <ion-item lines="full" *ngFor="let sale of sales">
      <ion-thumbnail slot="start">
        <img [src]="getImageForSale(sale.product_id)" alt="Producto">
      </ion-thumbnail>
      <ion-label>
        <p><b>Producto:</b> {{ getProductName(sale.product_id) }} </p>
        <p><b>Cantidad:</b> {{ sale.amount }} </p>
        <p><b>Total:</b> {{ sale.total | currency }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-button class="button-container" (click)="generatePDF(sales)" type="submit" class="rounded-button">
      Generar reporte
    </ion-button>
  </ion-item>

</ion-content>
