<app-header titulo="Mis Ventas"></app-header>
<ion-content>
  <ion-searchbar
  mode="ios"
  placeholder="Buscar producto"
  (ionChange)="onSearchChange()"
  [debounce]="250">
  </ion-searchbar>

  <ion-row class="input-row">
    <ion-item class="input-item">
      <ion-label position="stacked">Fecha de inicio</ion-label><br>
      <input type="date" required>
    </ion-item>
    <ion-item class="input-item">
      <ion-label position="stacked">Fecha de termino</ion-label><br>
      <input type="date" required>
    </ion-item>
  </ion-row>

  <ion-list>
    <ion-item lines="full" *ngFor="let x of [1,1,1,1]">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://m.media-amazon.com/images/I/71bUdzvnWHL.jpg" />
      </ion-thumbnail>
      <ion-label>
        Chetos
        <p><b>Cantidad:</b> 3 </p>
        <p><b>Total:</b> {{80 | currency}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-button class="button-container" type="submit" class="rounded-button">
      Generar reporte
    </ion-button>
  </ion-item>

</ion-content>
